/* COMMON STYLES */
body {
    color: var(--main-text-color);
    background-color: var(--page-color);
    font-family: Roboto, sans-serif;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
h1 {
    color: var(--page-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
footer {
    background-color: var(--footer-background-color);
}

/* START HEADER STYLE*/

.logo {
    color: var(--main-text-color);
    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.color-logo {
    color: var(--activity-color);
}
.menu-item {
    color:var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.menu-item.contact {
    color: #757575;
    font-style: normal;
   
}
/* END HEADER STYLE*/

/* START HERO STYLE*/
.order {
    color: var(--page-color);
    background-color: var(--activity-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* END HERO STYLE*/

/* START ADVANTAHES STYLE */
.advantages-item {
color: var(--main-text-color);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.advantages-description {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/* END ADVANTAHES STYLE */

/* START DOING STYLE */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
/* END DOING STYLE */

/* TEAM STYLE */
.team {
    background: #F5F4FA;
}
.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-position {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
/* END TEAM STYLE */

/* START FOOTER STYLE */
.post-address {
    color: var(--page-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
}
.whitecolor-logo {
    color: var(--page-color);
}
/* END FOOTER STYLE */

/* START FILTER OF PROJECTS */
.filter-button {
    color: var(--main-text-color);
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;
}
.type-project {
    color:var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
.name-project {
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
/* END FILTER OF PROJECTS */
